<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>this is the full article</p>
        {{range .Articles}} 
        <h1>{{.Title}}</h1><br>
        <p>Created by: <h3>{{.Author}}</h3></p>
        <p>{{.Description}}</p>
        
        
        
  
        <form action="/show-article/{{.ID}}" method="POST">
            <input type="text" name="write-comment">

            <input type="submit" value="Comment">
        </form>
        {{end}}

        {{range $key, $value:= .Comments}}
        <p><h3>{{$key}} said:  </h3> {{$value}}</p>
        <p>leave a comment:</p>
        {{end}}
        
        
        
        
    </body>
</html>