<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/view/css/app.css">
    <title>Article</title>
</head>

<body>
    <section class="w-full text-gray-600 overflow-hidden font-serif">
        <div class=" container mx-auto px-4">
            <div class="row -ml-4  px-4 pt-8">
                <div >
                    <div class="inline-block px-4 py-2 bg-blue-100 mr-4 rounded ">
                        <img class="inline-block rounded-3xl" height="40px" width="40px"  src="/static/view/images/home-icon.jpg" alt="home-icon">
                        <a class=""href="/">Home</a>
                    </div>
                    
                    <a class="p-4 bg-blue-100  rounded"href="/show-article">All Articles</a>
                </div>
                <div class=" ml-auto">
                    <div class="inline-block px-4">
                        {{if ne .LoggedUsername ""}}
                        <span class=" text-gray-500 ">Hello {{.LoggedUsername}}</span>
                            <button>
                                <a class="text-blue-700" href="/logout">Log Out</a>
                            </button>
                        {{end}}
                    </div>
                    <div class="inline-block">
                        {{if .CheckAuthor}}
                        <form class="inline-block" action="/update-article/{{.Article.ID}}" method="GET">
                            <input class="p-1 border rounded-md bg-blue-200" type="submit" value="Update">
                        </form>
                        <form class="inline-block" action="/delete-article/{{.Article.ID}}" method="POST">
                            <input class="p-1 border rounded-md bg-blue-200" type="submit" value="Delete">
                        </form>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="row -ml-4">
                <div class="w-full sm:my-8 mb-4 min-h-screen font-serif bg-gray-50 border-2 rounded-md">
                    <div class="pt-4 pb-2 px-8 font-bold text-3xl">
                        {{with .Article.Title}}
                            {{.}}
                        {{end}}
                    </div>
                    <div class="pl-8 inline-block">
                        created-by: {{with .Article.Author}} {{.}} {{end}}
                    </div>
                    <div class="px-2 inline-block">{{with .Article.CreatedAt}}
                        created-at: {{date "Mon, Jan 02, 2006" .}} {{end}}
                    </div>
                    <div class="text-lg leading-relaxed  font-light tracking-normal pt-8 px-8">
                        {{with .Article.Description}} {{.}} {{end}}
                       
                    </div>

                </div>
            </div>
                
        </div>
        
    </section>
   
</body>
</html>
