<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Show Article-1</h1>
        <br>
        {{if ne .LoggedUsername ""}}
        <p>Hello {{.LoggedUsername}}</p>
        <button>
            <a href="/logout">Log Out </a>
        </button>
        {{end}}
        <div>
            <a href="/">Back to home </a>
            <a href="/create-article">Create your article </a>
            <a href="/signup">Signup</a>
        </div>
        

        <div>
            {{range .Articles}}
            <h1>{{.Title}}</h1>
            <p>{{.Description}}</p>
            <h3>{{.Author }} {{date "Mon, Jan 02, 2006" .CreatedAt}}</h3>
            <form action="/show-article/{{.ID}}" method="GET">
                <input type="submit" value="View Full">
            </form>
            {{end}}
        </div>
    </body>
</html>