<!DOCTYPE html>
<html>
    <head>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <title>sign up</title>
    </head>
    <script type='text/javascript'>
        $(document).ready(function() {
          $('input[name=signup]').click(function(){
            $('form').submit();
          });
       });
       </script> 
    <body>
        <h1>Sign Up</h1>
        <div>
            <a href="/"> Back to Home </a>
            <a href="/show-article">Articles</a>
        </div>
        <form action="/signupPost" method="POST">
            <label for="firstname">First Name: </label>
            <input type="text" name="firstname" value="{{.NewUser.FirstName}}"><br>
            <p>{{.FormValidate.FirstName}}</p>

            <label for="lastname">Last Name: </label>
            <input type="text" name="lastname" value="{{.NewUser.LastName}}"><br>
            <p>{{.FormValidate.LastName}}</p>

            <label for="username">User Name: </label>
            <input type="text" name="username" value="{{.NewUser.Username}}"><br>
            <p>{{.FormValidate.Username}}</p>
            <p>{{.FormValidate.DuplicateUsername}}</p>
        
            <label for="email">Email Address: </label>
            <input type="email" name="email" value={{.NewUser.Email}}><br>
            <p>{{.FormValidate.Email}}</p>
            <p>{{.FormValidate.DuplicateEmail}}</p>
        
            <label for="password">Password: </label>
            <input type="password" name="password" value={{.NewUser.Password}}><br>
            <p>{{.FormValidate.Password}}</p>
            

        <button type="submit" name="signup">Sign up</button><br>
        </form>
        {{if .Success}}
        <h3>Congratulation! From now on you are a member of this site</h3>
        {{end}}
        
    </body>
</html>